.main-div {
  background-color: rgb(24, 16, 49);
  color: white;
  display: flex;
  flex-direction: column;
}

h1 {
  margin: 0;
}

.text-footer {
  width: 90%;
  display: block;
  margin: auto;
  font-size: 13px;
  color: rgb(146, 146, 146)
}

@media (min-width: 720px) {
  .text-footer {
      width: 70%;
  }
}

@media (min-width: 1200px) {
  .text-footer {
      width: 50%;
  }
}